html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

.hidden {
  opacity:0;
}

.console-container {
 
  font-size:2em;
  color:black;

}
.console-underscore {
   display:inline-block;
  position:relative;
  left:10px;
}

/* Testing Dark Mode */

.dark-mode {
  background-color: #191919 !important;
  color: white !important;
}

.dark-mode a {
  color: white !important;
}

