html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

.hidden {
  opacity:0;
}

.console-container {
 
  font-size:2em;
  color:black;

}
.console-underscore {
  display:inline-block;
  position:relative;
  /* left:10px; Not sure what this does, but removed bc it wasnt in line*/
  left:0px;
}

/* Testing Dark Mode */

.dark-mode {
  background-color: #191919 !important;
  color: white !important;
}

.dark-mode a {
  color: white !important;
}

/* Dark Mode Button */
#toggleBtn{

  text-decoration: none;
  color: #668ad8;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: double 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 100;
}

#darkMode:checked ~ #toggleBtn {
  transform: rotateY(180deg);
}
