:root {
  font-size: 16px;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

/* body {
  color: black;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  transition: max-height 300ms, height 400ms;
  height: 0;
  max-height: 0;
  display: none;
  list-style-type: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.nav-links .active {
  color: rgba(255, 255, 255, 1);
}

.main-nav li {
  text-align: left;
  margin: 15px auto;
  margin-left: 20px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
  max-height: 300px;
  height: 300px;

}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
      height: auto;
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
      
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}

/* Console Stuff */

.hidden {
  opacity:0;
}

.console-container {
 
  font-size:2em;
  color:white;

}
.console-underscore {
   display:inline-block;
  position:relative;
  left:10px;
}
